.margin{width:1200px;margin:0 auto;}
*{margin:0;padding:0;}
#top{height:85px;width:1583px;text-align:center;}
#top img{display:block;text-align:center;width:1583px;margin:0 auto;}
#header{background:#f5f5f5;}
#header .nav{width:1583px;height:29px;overflow:hidden;border-bottom:1px solid #dcdcdc;}
#header .nav p{height:29px;font:12px/29px "";float:right;margin-right:170px;}
#header .nav p a{height:29px;margin:0 13px;color:#333;}
#header .nav p span{color:#ddd9dd;}
#header .nav p img{margin-right:10px;}
#center{height:110px;}
#center .margin{display:flex;justify-content:space-around;}
#center .left{margin:21px 0 0 16px;}
#center .center{overflow:hidden;margin-top:28px;}
#center .center .up #txt{width:374px;height:32px;border:3px solid #d70057;float:left;text-indent:10px;}
#center .center .up #btn{width:101px;height:38px;background:#d70057;border:0;float:left;position:relative;color:#fff;font-size:14px;}
#center .center .up img{position:absolute;left:1001px;top:157px;}
#center .center .down{}
#center .center .down a{display:block;font:12px/28px "";color:#888;margin-right:11px;float:left;}

#center .right{overflow:hidden;margin-top:30px;}
#center .right img{float:left;}
#center .right input{width:175px;height:28px;border:2px solid #ffda73;border-left:0;float:left;font-size:12px;color:#444;text-indent:38px;}
#head{height:40px;background:#000;}
#head ul{height:40px;position:relative;}
#head ul li{float:left;}

#head ul li a{display:block;font:12px/40px "";color:#fff;padding:0 22px;}
#head ul li:hover a{color:#d70057;}
#head ul li .te{background:#d70057;padding:0 36px;}
#head ul li .te02{padding-left:60px;}
#head ul li.yellow{position:relative;}
#head ul li.yellow .head01{position:absolute;left:6px;top:-6px;}
#head ul li.yellow .head02{position:absolute;left:0px;top:-5px;}
#head ul li.yellow .head03{position:absolute;left:116px;top:-5px;}
#head ul li .earth{position:absolute;left:507px;top:1px;}
#brand{background:#f5f5f5;height:315px;}
#brand p{}
#brand .brandin{display:flex;flex-wrap:wrap;margin-top:4px;}
#brand .brandin a{display:block;width:99px;height:64px;background:#fff;display:flex;justify-content: center;align-content: center;border-right: 1px solid #f5f5f5;border-bottom: 1px solid #f5f5f5;}
#brand .brandin a img{width:72px;height:50px;margin-top:7px;}
#content{}
#content .list{overflow:hidden;margin-top:30px;width:1200px;}
#content .list ul{overflow:hidden;width:1220px;}
#content .list ul li{float:left;margin-right:10px;margin-bottom:10px;position:relative;}
#content .list ul li a{font-family: "Microsoft YaHei";border: 1px solid #e9e7ea;display:block; position: relative;  width: 593px;height: 208px;}
#content .list ul li a:hover{border:1px solid red;}
#content .list ul li a img{position: absolute;left: 0; top: 0; z-index: 1; width: 593px; height: 208px;}
#content .list ul li a .tit1{position: absolute; z-index: 2;  left: 0;  top:76px; color: #333; font-size: 14px; line-height: 18px;width: 200px; text-align: center;}
#content .list ul li a .tit2{position:absolute; z-index:2; eft:0; top: 94px; color: #333; font-size: 14px; line-height: 18px;width: 200px; text-align: center;}
#content .list ul li a .tit3{position:absolute; z-index:2;left:0;top:144px;line-height: 18px;width:200px;text-align:center;color: #d70057;font-size: 20px;font-weight: bold;}
#content .list ul li .timeBar{position:absolute;left:59px;top:185px;z-index:5;font-weight:500;color:#D70057;}
#content .list2{overflow:hidden;margin:20px 0;} 
#content .list2 ul{width:1220px;overflow:hidden;} 
#content .list2 ul li{float:left;margin-right:15px;margin-bottom:15px;position:relative;} 
#content .list2 ul li a{font-family:"Microsoft YaHei";border:1px solid #e9e7ea;width:388px;height:329px;display:block;position:relative;}
#content .list2 ul li a:hover{border:1px solid red;}
#content .list2 ul li a p{position:absolute;z-index:2;left:20px;bottom:50px;color:#333;line-height:18px;width:250px;text-align:left;font-size:18px;}
#content .list2 ul li a p span{color:#d70057;font-weight:bold;}
#content .list2 ul li .timeBar{position:absolute;left:40px;top:307px;color:#D70057;font-weight:600;letter-spacing: 5px;}

#foot{padding-top:30px;border-top:solid 1px #a6a6a6;background:#e6e6e6;overflow:hidden;}
#foot .qd{height:140px;margin-left:26px;background:#fff;float:left;display:inline;width:560px;padding-top:10px;position:relative;}
#foot .qd .footer_code{overflow:hidden;width:480px;margin:10px 0 0 35px;text-align:center;}
#foot .qd .footer_code .wx_code{float:left;width:120px;text-align:center;margin-right:50px}
#foot .qd .footer_code .wx_code img{width:90px}
#foot .qd .footer_code .wx_code p{margin-top:8px;text-align:center;font-size:14px;color:#333;}
#foot .qd .footer_code .kehu_code{float:left;width:120px;margin-right:60px;text-align:center;}
#foot .qd .footer_code .kehu_code img{width:90px;}
#foot .qd .footer_code .kehu_code p{margin-top:8px;text-align:center;font-size:14px;color:#333;margin-bottom:5px;line-height:1.60;}
#foot .abm{float:right;}
#foot .abm li{float:left;width:120px;display:inline;border-left:solid 1px #fff;margin-right:30px;}
#foot .abm li .tit{line-height:24px;background:#fff;margin-bottom:14px;font-size:14px;color:#999;}
#foot .abm li p{padding-left:20px;line-height:24px;}
#foot .abm li p a{color:#666;text-shadow:0 1px #f5f5f5;}
#foot .clear{clear:both;}
#foot .logo{margin:0 auto;padding:45px 0 0 0;text-align:center;}
#foot .logo a{}
#foot .logo a img{margin:0 10px;}
#foot .about{line-height:42px;text-align:center;color:#d7d7d7;}
#foot .about a{color:#777;}
#foot .rights{background:#232323;text-align:center;color:#999;line-height:24px;}
#foot .rights span{padding:0 9px;display:inline-block;}
#foot .rights a{padding:0 9px;display:inline-block;}

